.version.index /* version checker */
{
	color: #000010;
	background-color: #3088E5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu77
{
	width: 0.01px;
	padding-bottom: 98px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u77
{
	z-index: 9;
	height: 97px;
	top: 0px;
}

#u77-bw
{
	z-index: 9;
}

#u78
{
	z-index: 10;
	width: 76px;
	top: 11px;
	left: 64px;
}

#u84-4
{
	z-index: 20;
	top: 24px;
	left: 157px;
}

#u107
{
	z-index: 2;
	width: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#pu113-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 500px;
}

#u113-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 105px;
	position: relative;
}

#u117
{
	z-index: 8;
	width: 440px;
	min-height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#pu80-4
{
	width: 0.01px;
	padding-bottom: 36px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 661px;
}

#u80-4
{
	z-index: 12;
	width: 201px;
	min-height: 36px;
	top: 38px;
	right: 198px;
}

#u83-4
{
	z-index: 16;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 70px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

