#u77
{
	border-style: solid;
	border-color: #159A39;
	background-color: #FFFFFF;
	position: fixed;
	border-width: 0px 0px 3px;
}

#u78
{
	position: fixed;
}

#u84-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u80-4
{
	line-height: 22px;
	color: #159A39;
	font-size: 18px;
	text-align: center;
	position: fixed;
}

#u83-4
{
	line-height: 22px;
	color: #9A1518;
	font-size: 18px;
	text-align: center;
	position: fixed;
}

