.version.tu_perfil /* version checker */
{
	color: #0000FE;
	background-color: #69065D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.92027379829347px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu132
{
	width: 0.01px;
	padding-bottom: 98px;
	margin-left: -100px;
}

#u132
{
	z-index: 7;
	height: 97px;
	top: 0px;
}

#u132-bw
{
	z-index: 7;
}

#u135
{
	z-index: 8;
	width: 76px;
	top: 11px;
	left: 64px;
}

#u131-4
{
	z-index: 14;
	top: 24px;
	left: 157px;
}

#u148-4
{
	z-index: 19;
	width: 96px;
	min-height: 26px;
	top: 36px;
	left: 288px;
}

#u149-4
{
	z-index: 23;
	width: 94px;
	min-height: 26px;
	top: 36px;
	left: 388px;
}

#u138
{
	z-index: 18;
	width: 263px;
	min-height: 33px;
	top: 33px;
	right: 189px;
}

#u157-4
{
	z-index: 27;
	width: 118px;
	min-height: 26px;
	top: 37px;
	left: 483px;
}

#u134-4
{
	z-index: 10;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 70px;
}

#pu165-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 51px;
}

#u165-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u166
{
	z-index: 6;
	width: 940px;
	min-height: 439px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

